
  @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}
header{
    /* background-color: rgb(210, 229, 246); */
    /* background-color:#E7F6F2; */
    /* background-color:#d1b465; */
    background-color:#05080b;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 200px;
}
.logo{
text-decoration: none;
font-weight: 700;
font-size: 1.8em;
color: #ffffff;

}
.logo:hover{
    color: #cab531;
}
nav a{
    text-decoration: none;
    color: #fdfdfd;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}
nav a:hover{
    color: #cab531
    ;
}
section{
    padding: 100px 200px;

}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url('img/1.jpg')no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.main h2{
    /* color: #f7cc40; */
    color: #ffffff;
    font-size: 1.4em;
    font-weight: 500;

}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: #ffffff;
    font-size: 3em;
}
.main h3{
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn{
    color: #fff;
    
    /* background-color:#3a6cf4; */
    background-color:#cab531;
    text-decoration: none;
    font-size: 1.1em;
    font-weight:600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px ;
    margin-bottom: 40px ;
    transition: 0.5s;
}
.main-btn:hover{
    background-color:#cab539;
    box-shadow: #fffb00;
    transform: scale(1.1);
}
.icon a{
    color: #fff;
    font-size: 1.7em;
    padding-right: 25px;

}
.title{
    display: flex;
    justify-content: center;
    color: #cab539;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
/* #services{
    /* background-color: #041d27; */
/* }  */
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: #fff;
    width: 21.25em;
    /* box-shadow: 0 5px 20px #cab539; */
    box-shadow: 0 5px 20px rgba(1 1 1 /15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.5s;
}
.card:hover{
    transform: scale(1.1);
}
.icons{
    color: #cab539;
    font-size: 7em;
    text-align: center;
}
.info{
    text-align: center;
}
.info h3{
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.projects .content{
    margin-top: 30px;
}
.pro-card{
    background-color: #fff;
    border: 1px solid #ebebeb;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px ;
    transition: 0.6s;
}
.pro-card:hover{
    transform: scale(1.1);
}
.pro-card:hover .pro-imag{
    opacity: 0.9;
}
.pro-imag img {
    width: 100%;
}
.pro-info{
    padding: 1em;
}
.pro-category{
    font-size: 0.8em;
    color: #000;
}
.pro-title{
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
    color: #cab539;
}
.footer{
background-color: #060d15;
color: #fff;
padding: 2em;
display: flex;
justify-content: space-between;
}

.foot-title span{
    color: #cab539;
}
/* @media(max-whidth:1023px){
    header{
        padding: 12px 20px;
    }
    .nav a{
        padding-left: 10px;
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px ;
    }
    .main h2{
        font-size: 1em;
    }
    .main h3{
        font-size: 1.6em;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
} */